@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-weight: 200;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  background-color: #212121;
}
main > h1 {
  font-size: 7rem;
  color: #fff;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameBoard {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.gameBoard i {
  font-size: 13rem;
  color: #fff;
  cursor: pointer;
}
.element {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.element:hover {
  transform: scale(0.9);
}
.displayMove {
  font-size: 3rem;
  padding: 1rem;
  margin-top: 5rem;
  font-weight: 300;
  color: #212121;
  background-color: #fff;
}
.displayScore {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.displayScore p {
  font-size: 2rem;
  color: #fff;
}
.user h1,
.computer h1 {
  font-size: 3rem;
  color: #fff;
}
.user,
.computer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.winner {
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.winner button {
  border: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 2rem;
}
